.video__data {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  .video__title {
    font-size: 26px;
    margin-bottom: 5px;
  }
  .video__createdAt {
    font-size: 12px;
  }
  .video__owner {
    margin-bottom: 5px;
    font-size: 14px;
    a {
      color: cornflowerblue;
      text-decoration: underline;
    }
  }
}
.video__comments {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  .video__comment {
    padding: 10px;
    border-radius: 9999px;
    background-color: white;
    color: black;
    margin-bottom: 10px;
  }
  .deleteButton {
    cursor: pointer;
  }
}
.video__add-comments {
  border-top: 1px solid white;
  margin-top: 300px;
  margin-left: 60px;
  position: relative;
  .video__comment-form {
    position: absolute;
    top: -200px;
    left: 200px;
    border: none;
    .header__avatar {
      position: absolute;
      left: -80px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    .video__comment-form-textarea {
      position: relative;
      width: 100%;
      border: none;
      resize: none;
      background-color: rgba($color: $bg, $alpha: 0.7);
    }
    .video__comment-form-button {
      margin-left: 300px;
      margin-top: 30px;
      border-radius: 20px;

      &:focus {
        outline: none;
      }
    }
  }
}
