.video-mixin {
  .video-mixin__thumb {
    height: 140px;
    border-radius: 7px;
    width: 100%;
    background-color: ivory;
  }
  .video-mixin__data {
    padding: 0px 15px;
    .video-mixin__title {
      font-size: 18px;
      display: block;
      margin-top: 10px;
    }
    .video-mixin__meta {
      margin-top: 5px;
      font-size: 12px;
    }
  }
}
.video__data {
  .thumbs-icon {
    display: flex;
    justify-content: space-around;
    #thumbs-up {
      font-size: 50px;
      &:hover {
        color: cornflowerblue;
      }
    }
    #thumbs-down {
      font-size: 50px;
      &:hover {
        color: cornflowerblue;
      }
    }
  }
  gap: 10px;
  .video__title {
    text-align: left;
    margin-left: 20px;
  }
  .video__owner {
    text-align: left;
    margin-left: 20px;
  }
  .video__createdAt {
    text-align: left;
    margin-left: 20px;
    text-decoration: underline;
  }
  .edit__video {
    text-align: right;
  }
  .delete__video {
    text-align: right;
  }
}
